[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
prompt                 = no
x509_extensions        = v3_req
req_extensions         = v3_req

[ req_distinguished_name ]
C                      = US
ST                     = MA
L                      = Boston
O                      = Example Co
OU                     = techops
CN                     = raspberry

[ v3_req ]
subjectAltName = @alternate_names
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth

[alternate_names]
IP.1 = 192.168.1.183
DNS.1 = localhost
DNS.2 = homehud.westus.cloudapp.azure.com